* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: "Montserrat", sans-serif;
}

#header {
    background: #240040;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav select {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    background: transparent;
    border: none;
    outline: none;
    margin: 0 40px;
}

.navbar-nav select option {
    color: black;
}

.navbar a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0 40px;
}

#hero {
    min-height: 90vh;
    background: url("../img/Vector.png") no-repeat bottom center/cover;
}

.hero-group h1 {
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.hero-group p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.hero-group-content {
    display: flex;
    align-items: center;
}

.hero-group-content div {
    width: 70px;
    height: 70px;
    border: 1px solid #FFFFFF;
    border-radius: 51%;

}

.hero-group {
    margin-right: 150px;
}

.hero-group-content h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: -55px;
}

.hero-group-content-icon {
    color: #FF9900;
    font-size: 35px;
}

.hero {
    display: flex;
    align-items: center;
}

.line {
    width: 983px;
    margin: 50px 0;
    border: 5px solid #240040;
}

.about-img {
    position: relative;
}

.about-img:before {
    position: absolute;
    content: "";
    width: 625px;
    height: 438px;
    background: #FF9900;
    z-index: -1;
    margin: 50px;
}

.about-group-content-circle {
    width: 90px;
    height: 90px;
    background: #F7F7F7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 5px 11px rgba(0, 0, 0, 0.25);
}

.about-group-content {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    margin: 30px 0;
}

.about-group-content-items h6 {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #252B42;
}

.about-group-content-items h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #240040;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.about-group p {
    margin-bottom: 30px;
    padding-top: 15px;
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.about-btn button {
    font-weight: 600;
    font-size: 18px;
    line-height: 163.4%;
    width: 257px;
    height: 55px;
    border: 2px solid #240040;
    border-radius: 16px;
    color: #240040;
    background: transparent;
    cursor: pointer;
    transition: .4s;
}

.about-btn button:hover {
    background: #240040;
    transform: scale(1.1);
    color: white;
}

.about-modal-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-modal-bg-square {
    width: 1171px;
    height: 603px;
    overflow-y: scroll;
    background: #FFFFFF;
    border: 2px solid #240040;
    border-radius: 38px;
    position: relative;
}

.about-modal-bg-square-close {
    font-size: 35px;
    color: red;
    position: absolute;
    right: 20px;
    top: 20px;

}

.about-modal-bg-square p {
    padding: 20px 50px;
    line-height: 22px;
}

.about-modal {
    display: none;
}

.teacher-about-square h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.teacher-about-square p {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
}

.teachers-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -25px;
}

.teacher-about-square {
    width: 230px;
    height: 350px;
    padding: 50px 22px;
}

.teachers-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.teachers-about2 h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-top: 100px;
}

.teachers-about2 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 50px;
}

.teachers-picture {
    display: flex;
    margin-bottom: 80px;
}

.teachers-picture-img {
    padding: 0 15px;
}

.rectangle {
    margin-top: 15px;
}

.teachers-picture h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.teachers-picture-title {
    margin-bottom: 50px;
    margin-top: 80px;
}

.teachers-tell-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.teachers-tell-title p {
    font-weight: 500;
    font-size: 16px;
    line-height: 165.4%;
    color: #252B42;
}

.teachers {
    margin-bottom: 100px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: start;
    width: 300px;
    height: 400px;
    flex-direction: column;
}
.swiper-slide h1{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.swiper-slide p{
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #000000;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper{
    margin-top: 100px;
}
.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.teachers-tell{
    display: flex;
    flex-direction: column;


}
.teachers-tell-inst{
    display: flex;
    padding:35px 0;
}
.teachers-tell-inst img{
    margin-right: 20px;
}
#footer{
    background: url("../img/Vector.png") no-repeat  center/cover;
    min-height: 35vh;
}
.footer-line{
    width: 1170px;
    left: 135px;
    top: 4117px;
    border: 1px solid #FFFFFF;
}
.footer-logo p{
    font-weight: 500;
    font-size: 16px;
    line-height: 165.4%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.footer h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.teachers-tell-title{
    margin-left: 40px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.footer-logo div{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.footer-logo{
    padding: 50px 0 30px 0;
}
.footer-inst{
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}
.footer-meil{
    margin-top: 40px;
}
.footer-inst h2{
    margin-top: 60px;
}
.footer-inst-img{
    margin-top: 20px;
    margin-right: 30px;
}





